@import "../global.scss";

.container {
    max-width: 315px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    &--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        &__title {
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 1.6px;
        }
        &__date {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.8px;
            opacity: 0.8;
        }
    }
    &--button {
        background-color: $secondaryBlack;
        border: none;
        padding: 16px;
        color: $primaryWhite;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        border-radius: 10px;
        cursor: pointer;
    }
    &--menu {
        padding: 8px;
        border-radius: 5px;
        background-color: $secondaryBlack;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
}

.metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px
}

.hourly {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    &--button {
        width: 100%;
        padding: 20px 0;
        background-color: $secondaryBlack;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        color: $primaryWhite;
        cursor: pointer;
    } 
}

.details {
    &--container {
        max-width: 315px;
        margin: 0 auto;
        &__content {
            padding-top: 30px;
        }
    }
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    background-color: $secondaryBlack;
    border-radius: 10px;
    &--heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &__title {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.8px;
        }
        &__icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $secondaryWhite;
            padding: 4px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
    &--info {
        display: flex;
        align-items: center;
        gap: 16px;
        &__metrics {
            display: flex;
            flex-direction: column;
            gap: 14px
        }
    }
    &--button {
        @include formButton;
        background-color: $secondaryWhite
    }
}

.nav-menu {
    @include formContainer;
    &--button {
        @include formButton;
        background-color: $secondaryWhite
    }
}

.report-form {
    @include formContainer;
    &--heading {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
    }
    &--input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 8px;
        &__text {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            opacity: 0.5;
        }
        &__place {
            @include formInput
        }
    }
    &--button {
        @include formButton
    }
}

.export-form {
    @include formContainer;
    &--code {
        width: calc(100% - 16px);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
        background-color: $secondaryWhite;
        padding: 16px 8px;
        border-radius: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &--copy-button {
        @include formButton
    }
}